doctype html
html(lang="en")
    head
        title="Home"
        link(href='/styles/site.css', rel='stylesheet')
    head
body
    ul
        li 
            a(href="/")    Home
        li 
            a(href="/todo")    Create Todo
        li  
            a(href="/all-todos")    List All Todos
        
    block content